asgiref==3.9.1
autoflake==2.3.1
dj-database-url==3.1.2
Django==5.2.5
django-cors-headers==4.7.0
djangorestframework==3.16.1
gunicorn==25.1.0
packaging==26.0
psycopg==3.3.3
psycopg-binary==3.3.3
pyflakes==3.4.0
python-dotenv==1.1.1
sqlparse==0.5.3
vulture==2.14
whitenoise==6.8.2
